.tabsSlider {
	position: relative;
	justify-content: space-between;
	min-height: 36px !important;
	padding-bottom: 2px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: 1px solid var(--gray-2);
	}
	&-tab {
		padding: 4px 8px 12px 8px !important;
		font-family: 'Inter', sans-serif !important;
		font-weight: 500 !important;
		font-size: 14px !important;
		line-height: 20px !important;
		color: var(--gray-2) !important;
		text-transform: none !important;
		user-select: none !important;
		min-height: 100% !important;
		transition: all .2s ease-in-out !important;
		&:hover {
			color: var(--primary) !important;
		}
		&.Mui-selected {
			color: var(--primary) !important;
		}
	}
}
.MuiTabs-scroller {
	position: absolute !important;
}
.MuiTabs-indicator {
	background-color: var(--primary) !important;
	z-index: 9;
}
.MuiTabs-scrollButtons {
	width: auto !important;
	padding: 4px 4px 8px 4px !important;
	background-color: var(--white) !important;
	opacity: 1 !important;
	z-index: 10;
	cursor: pointer;
	&:hover {
		svg {
			stroke: var(--primary) !important;
		}
	}
	&.Mui-disabled {
		opacity: 0 !important;
	}
	svg {
		width: 20px !important;
		height: 20px !important;
		stroke: var(--gray-2) !important;
		transition: all .2s ease-in-out !important;
	}
}
