.filledButton {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s ease-in-out;
	svg {
		stroke: var(--gray-2);
		transition: stroke 0.2s ease-in-out;
	}
	p {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: var(--gray-2);
		transition: color 0.2s ease-in-out;
	}
	&:hover:not([disabled]) {
		svg {
			stroke: var(--primary);
		}
		p {
			color: var(--primary);
		}
	}
	&.action {
		&.light {
			background-color: var(--gray-0);
			svg {
				stroke: var(--primary);
			}
			p {
				color: var(--primary);
			}
		}
		&.dark {
			background-color: var(--primary);
			svg {
				stroke: var(--white);
			}
			p {
				color: var(--white);
			}
		}
	}
	&:disabled {
		&.action {
			background-color: var(--gray-0);
			svg {
				stroke: var(--primary);
			}
			p {
				color: var(--primary);
			}
		}
	}
}
