.table {
	display: flex;
	flex-direction: column;
	width: calc(100vw - 240px - 24px - 24px);
	height: 100%;
	border: 1px solid var(--gray-2);
	border-radius: 8px;
	overflow: scroll;
	thead {
		position: sticky;
		z-index: 3;
		top: 0;
	}
	thead tr > th {
		position: sticky;
		z-index: 2;
		top: 0;
	}
	thead tr > :first-child {
		z-index: 3;
		left: 0;
		top: 0;
	}
	tbody tr > :first-child {
		position: sticky;
		z-index: 1;
		left: 0;
	}
	&-row {
		display: flex;
		width: 100%;
	}
	&-cell {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 8px 16px 16px;
		height: 48px;
		width: 100% !important;
		border-right: 1px solid var(--gray-2);
		border-bottom: 1px solid var(--gray-2);
		transition: background-color 0.2s ease-in-out;
		background-color: var(--white);
		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			transition: color 0.2s ease-in-out;
		}
		svg {
			stroke: var(--gray-2);
			transition: stroke 0.2s ease-in-out;
		}
		&.head {
			background-color: var(--gray-0);
			cursor: pointer;
			p {
				color: var(--gray-2);
			}
			&:hover {
				background-color: var(--gray-1);
				p {
					color: var(--primary);
				}
			}
		}
		&.body {
			p {
				color: var(--black);
			}
		}
		&:first-child {
			width: 52px;
			padding: 14px 16px;
			cursor: pointer;
			&:hover {
				svg {
					stroke: var(--primary);
				}
			}
		}
		&:last-child {
			border-right: none;
		}
	}
}
