.tab {
	display: flex;
	align-items: center;
	gap: 8px;
	position: relative;
	padding: 0 16px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	p {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: var(--gray-2);
		transition: color 0.2s ease-in-out;
	}
	svg {
		stroke: var(--gray-2);
		transition: stroke 0.2s ease-in-out;
	}
	&:hover {
		svg {
			stroke: var(--primary);
		}
		p {
			color: var(--primary);
		}
	}
	&.action {
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: var(--primary);
		}
		svg {
			stroke: var(--primary);
		}
		p {
			color: var(--primary);
		}
	}
}
